body, html {
    height: 100%;
}
  
.parallax { 
    /* The image used */
    background-image: url("../images/bible.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    font-family: 'Puritan', sans-serif;
    font-size: 13pt;
    
}


h1 {
    font-family: 'Marcellus SC', serif;
    text-align: center;
}

button {
    margin: 10px;
}
