body {
    font-family: 'Puritan', sans-serif;
    font-size: 13pt;
    
}


h1 {
    font-family: 'Marcellus SC', serif;
    text-align: center;
}

button {
    margin: 10px;
}

img {
    float: left;
}
